################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InfinityEloctronics/.vs/InfinityEloctronics
/InfinityEloctronics/InfinityElectronics.Shared/obj
/src/.vs
/src/InfinityElectronics.Shared/obj
