################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InfinityEloctronics/.vs/InfinityEloctronics
/InfinityEloctronics/InfinityElectronics.Shared/obj
/src/.vs
/src/InfinityElectronics.Shared/obj
/InfitinityElectronics.Web/obj
/src/InfitinityElectronics.Web/bin/Debug/net8.0
/src/InfitinityElectronics.Web/obj
/src/obj
/obj
/src/InfinityElectronics.Shared/bin/Debug/net8.0
/src/InfitinityElectronics.Web/InfitinityElectronics.Web.csproj.user
